{
  "extends": "@steroidsjs/eslint-config",
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "no-undef": "off",
    "no-redeclare": "off",
    "react/no-unused-prop-types": "off",
    "react/default-props-match-prop-types": "off",
    "react/sort-comp": "off"
  }
}