{
  "extends": "@steroidsjs/eslint-config",
  "rules": {
    "linebreak-style": 0,
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
