/app
/docs
/files
/public
/tests
/vendor
/.gitignore
/.gitlab-ci.yml
/.npmignore
/composer.json
/composer.lock
/config.php
/config.sample.php
/config-tests.php
/config-tests.sample.php
/LICENSE
/README.md
/yii
/yii.bat