:root {
    --story-border-width-small: 1px;
    --story-border-width-medium: 1.5px;
    --story-border-width-large: 2px;
    --story-border-width: var(--story-border-width-large);

    --status-border-width-small: 2px;
    --status-border-width-medium: 3px;
    --status-border-width-large: 4px;
    --status-border-width: var(--status-border-width-large);

    --status-size-small: 8px;
    --status-size-medium: 10px;
    --status-size-large: 12px;
    --status-size-x-large: 14px;
    --status-size: var(--status-size-x-large);
}

@mixin story($background) {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 55%;
        border-radius: 100%;
        border: var(--story-border-width) solid transparent;
        background: $background;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.AvatarView {
    $root: &;

    display: inline-block;
    position: relative;
    aspect-ratio: 1;


    &_has-custom-status { 
       --status-size: 25%;
       --status-border-width: 2px;
    }

    &_size {
        &_x-large {
            #{$root}__body {
                height: $avatar-x-large-size;
                width: $avatar-x-large-size;
                line-height: $avatar-x-large-size;
                font-size: $avatar-x-large-font-size;
            }
            --story-border-width: var(--story-border-width-large);
            --status-border-width: var(--status-border-width-large);
            --status-size: var(--status-size-x-large);
        }

        &_large {
            #{$root}__body {
                height: $avatar-large-size;
                width: $avatar-large-size;
                line-height: $avatar-large-size;
                font-size: $avatar-large-font-size;
            }
            --story-border-width: var(--story-border-width-large);
            --status-border-width: var(--status-border-width-medium);
            --status-size: var(--status-size-large);
        }

        &_middle {
            #{$root}__body {
                height: $avatar-middle-size;
                width: $avatar-middle-size;
                line-height: $avatar-middle-size;
                font-size: $avatar-middle-font-size;
            }
            --story-border-width: var(--story-border-width-medium);
            --status-border-width: var(--status-border-width-small);
            --status-size: var(--status-size-medium);
        }

        &_small {
            #{$root}__body {
                height: $avatar-small-size;
                width: $avatar-small-size;
                line-height: $avatar-small-size;
                font-size: $avatar-small-font-size;
            }
            --story-border-width: var(--story-border-width-small);
            --status-border-width: var(--status-border-width-small);
            --status-size: var(--status-size-small);
        }
    }

    &_shape {
        &_square {
            #{$root}__body {
                border-radius: unset;
            }
        }

        &_circle {
            #{$root}__body {
                border-radius: 50%;
            }
        }
    }

    &_has-image {
        #{$root}__body {
            background-color: unset;
        }
    }

    
    &_has-status {
        &::after {
            content: "";
            position: absolute;
            box-sizing: content-box;
            right: -7%;
            bottom: -7%;
            width: var(--status-size);
            height: var(--status-size);
            z-index: 10;

            color: $avatar-status-color;

            border-radius: 50%;
            background-color: $avatar-status-color;

            border: var(--status-border-width) solid white;
        }
    }

    &_has-story-avatar {
        @include story($avatar-story-with-avatar-background);
    }

    &_has-story-without-avatar {
        @include story($avatar-story-without-avatar-background);
    }

    &__body {
        display: inline-block;
        overflow: hidden;

        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        color: $avatar-text-color;
        background: $avatar-background-gradient;
        border: 1px solid #fff;

        span {
            display: block;
            transform: translateY(-2px);
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
